## Dataset/ dataset 하위 파일들 생략
Dataset/

##requirements text file 지우기
requirements.txt

##.csv파일 모두 지우기
*.csv

## .pkl파일 모두 지우기
*.pkl

## original tablegan gitignore file

\.idea/

\.ipynb_checkpoints/

tablegan/__pycache__/

tablegan/checkpoint/

tablegan/samples/

tablegan/logs/

#wandb 내용 생략
wandb/


